outputs
.hydra
/scaler
__pycache__
/metrics
/data_profile
/.*_cache
/dvc_plots
dvclive/metrics.json
dvclive/plots/images
data/raw
data/intermediate
data/final
venv
.DS_Store

# Python
*.pyc
*.pyo
*.pyd
.Python
*.so
.pythonlibs/
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo